docs/legacies/make.com legacies/Luồng 2- OTP Verification- Update Odoo.blueprint (1).json
{
    "name": "Luồng 2: OTP Verification/ Update Odoo",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2599007,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -2675,
                    "y": -116
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "OTP Verification / update Odoo"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 74,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "OTP Filter (only 6 digit number)",
                "conditions": [
                    [
                        {
                            "a": "{{1.Body}}",
                            "b": "^[0-9]{6}$",
                            "o": "text:pattern"
                        }
                    ]
                ]
            },
            "mapper": {
                "body": "{\n  \"status\": \"success\",\n  \"message\": \"Danke!\"\n}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": -2734,
                    "y": 341
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        },
        {
            "id": 60,
            "module": "phonenumber:TransformerParseNumber",
            "version": 1,
            "parameters": {},
            "mapper": {
                "number": "{{1.From}}",
                "defaultCountry": "DE"
            },
            "metadata": {
                "designer": {
                    "x": -2497,
                    "y": 360
                },
                "restore": {
                    "expect": {
                        "defaultCountry": {
                            "mode": "chose",
                            "label": "Germany (DE)"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "number",
                        "type": "text",
                        "label": "Phone number",
                        "required": true
                    },
                    {
                        "name": "defaultCountry",
                        "type": "select",
                        "label": "Default country for parsing",
                        "required": true,
                        "validate": {
                            "enum": [
                                "AC",
                                "AD",
                                "AE",
                                "AF",
                                "AG",
                                "AI",
                                "AL",
                                "AM",
                                "AO",
                                "AQ",
                                "AR",
                                "AS",
                                "AT",
                                "AU",
                                "AW",
                                "AX",
                                "AZ",
                                "BA",
                                "BB",
                                "BD",
                                "BE",
                                "BF",
                                "BG",
                                "BH",
                                "BI",
                                "BJ",
                                "BL",
                                "BM",
                                "BN",
                                "BO",
                                "BQ",
                                "BR",
                                "BS",
                                "BT",
                                "BV",
                                "BW",
                                "BY",
                                "BZ",
                                "CA",
                                "CC",
                                "CD",
                                "CF",
                                "CG",
                                "CH",
                                "CI",
                                "CK",
                                "CL",
                                "CM",
                                "CN",
                                "CO",
                                "CP",
                                "CR",
                                "CU",
                                "CV",
                                "CW",
                                "CX",
                                "CY",
                                "CZ",
                                "DE",
                                "DG",
                                "DJ",
                                "DK",
                                "DM",
                                "DO",
                                "DZ",
                                "EA",
                                "EC",
                                "EE",
                                "EG",
                                "EH",
                                "ER",
                                "ES",
                                "ET",
                                "EU",
                                "FI",
                                "FJ",
                                "FK",
                                "FM",
                                "FO",
                                "FR",
                                "FX",
                                "GA",
                                "GB",
                                "GD",
                                "GE",
                                "GF",
                                "GG",
                                "GH",
                                "GI",
                                "GL",
                                "GM",
                                "GN",
                                "GP",
                                "GQ",
                                "GR",
                                "GS",
                                "GT",
                                "GU",
                                "GW",
                                "GY",
                                "HK",
                                "HM",
                                "HN",
                                "HR",
                                "HT",
                                "HU",
                                "IC",
                                "ID",
                                "IE",
                                "IL",
                                "IM",
                                "IN",
                                "IO",
                                "IQ",
                                "IR",
                                "IS",
                                "IT",
                                "JE",
                                "JM",
                                "JO",
                                "JP",
                                "KE",
                                "KG",
                                "KH",
                                "KI",
                                "KM",
                                "KN",
                                "KP",
                                "KR",
                                "KW",
                                "KY",
                                "KZ",
                                "LA",
                                "LB",
                                "LC",
                                "LI",
                                "LK",
                                "LR",
                                "LS",
                                "LT",
                                "LU",
                                "LV",
                                "LY",
                                "MA",
                                "MC",
                                "MD",
                                "ME",
                                "MF",
                                "MG",
                                "MH",
                                "MK",
                                "ML",
                                "MM",
                                "MN",
                                "MO",
                                "MP",
                                "MQ",
                                "MR",
                                "MS",
                                "MT",
                                "MU",
                                "MV",
                                "MW",
                                "MX",
                                "MY",
                                "MZ",
                                "NA",
                                "NC",
                                "NE",
                                "NF",
                                "NG",
                                "NI",
                                "NL",
                                "NO",
                                "NP",
                                "NR",
                                "NU",
                                "NZ",
                                "OM",
                                "PA",
                                "PE",
                                "PF",
                                "PG",
                                "PH",
                                "PK",
                                "PL",
                                "PM",
                                "PN",
                                "PR",
                                "PS",
                                "PT",
                                "PW",
                                "PY",
                                "QA",
                                "RE",
                                "RO",
                                "RS",
                                "RU",
                                "RW",
                                "SA",
                                "SB",
                                "SC",
                                "SD",
                                "SE",
                                "SG",
                                "SH",
                                "SI",
                                "SJ",
                                "SK",
                                "SL",
                                "SM",
                                "SN",
                                "SO",
                                "SR",
                                "SS",
                                "ST",
                                "SU",
                                "SV",
                                "SX",
                                "SY",
                                "SZ",
                                "TA",
                                "TC",
                                "TD",
                                "TF",
                                "TG",
                                "TH",
                                "TJ",
                                "TK",
                                "TL",
                                "TM",
                                "TN",
                                "TO",
                                "TR",
                                "TT",
                                "TV",
                                "TW",
                                "TZ",
                                "UA",
                                "UG",
                                "UM",
                                "US",
                                "UY",
                                "UZ",
                                "VA",
                                "VC",
                                "VE",
                                "VG",
                                "VI",
                                "VN",
                                "VU",
                                "WF",
                                "WS",
                                "YE",
                                "YT",
                                "ZA",
                                "ZM",
                                "ZW"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 100231
            },
            "mapper": {
                "key": "{{60.e164}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": -2295,
                    "y": 517
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Founder OTP"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "OTP Code",
                        "name": "otp_code",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "Important: Choose \"Date\" so Make can compare times.",
                        "name": "expires_at",
                        "type": "date",
                        "label": null,
                        "required": false
                    },
                    {
                        "help": "Set to 0 initially to track failed guesses",
                        "name": "attempts_verify",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "Your Webhook or Partner ID.",
                        "name": "partner_id",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "Last Sent Date",
                        "name": "last_sent_at",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "Phone",
                        "name": "phone",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "cooldown_until",
                        "type": "date",
                        "label": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "returned OTP",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 63,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 101330
            },
            "mapper": {
                "key": "{{60.e164}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": -1969,
                    "y": 497
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "ODOO PROFILES"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "name",
                        "name": "name",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "email",
                        "name": "email",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "phone",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "x_KC_terms_accepted",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "founder term accepted",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "sms opt-in",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "opt text",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "optin timestamp",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "founder status",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "opt verified",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "founder level",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "founder start date",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "founder end date",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "number of visit",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "last visit",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "last reminder",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "total spent",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "ID",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 67,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -2238,
                    "y": 174
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 61,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "tlsType": "",
                                "proxyKeychain": "",
                                "authenticationType": "noAuth"
                            },
                            "filter": {
                                "name": "Correct OTP",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.Body}}",
                                            "b": "{{16.otp_code}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "https://hais-lab.odoo.com/web/hook/b4132af7-4ecf-4ac7-be5d-d5684b63590e",
                                "method": "post",
                                "contentType": "json",
                                "inputMethod": "jsonString",
                                "shareCookies": false,
                                "parseResponse": true,
                                "allowRedirects": true,
                                "stopOnHttpError": true,
                                "jsonStringBodyContent": "{\n  \"_model\": \"res.partner\",\n  \"_id\": {{63.ID}},\n\n  \"x_studio_founder_status\": \"live\",\n  \"x_studio_otp_verified\": \"yes\"\n}",
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": -1649,
                                    "y": 278
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                                        },
                                        "inputMethod": {
                                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "parseResponse": {
                                            "mode": "chose"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        },
                                        "queryParameters": {
                                            "mode": "chose"
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "proxyKeychain": {
                                            "label": "Choose a key"
                                        },
                                        "authenticationType": {
                                            "label": "No authenticationUse when no credentials are required for the request."
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "queryParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Parameter"
                                        },
                                        "type": "array",
                                        "label": "Query parameters"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "inputMethod",
                                        "type": "select",
                                        "label": "Body input method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "dataStructure",
                                                "jsonString"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "jsonStringBodyContent",
                                        "type": "text",
                                        "label": "Body content",
                                        "required": true
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "type": "any",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "statusCode",
                                        "type": "number",
                                        "label": "Status Code"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "type": "text",
                                                "label": "Content-Length"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "type": "text",
                                                "label": "Content-Encoding"
                                            },
                                            {
                                                "name": "content-type",
                                                "type": "text",
                                                "label": "Content-Type"
                                            },
                                            {
                                                "name": "server",
                                                "type": "text",
                                                "label": "Server"
                                            },
                                            {
                                                "name": "cache-control",
                                                "type": "text",
                                                "label": "Cache-Control"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array",
                                                "label": "Set-Cookie"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Headers"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 68,
                            "module": "twilio:SendSMS",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5599996
                            },
                            "mapper": {
                                "to": "{{1.From}}",
                                "body": "Ihr Code wurde erfolgreich verifiziert. Ihre Registrierung ist bestätigt – unser Team wird Sie informieren, sobald Ihr Founder Pass ausgestellt wird.",
                                "from": "whatsapp:+14155238886",
                                "fromType": "phone",
                                "messageBody": "body"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -1373,
                                    "y": 65
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "mode": "edit"
                                        },
                                        "fromType": {
                                            "mode": "chose",
                                            "label": "phone number"
                                        },
                                        "mediaUrl": {
                                            "mode": "chose"
                                        },
                                        "messageBody": {
                                            "mode": "chose",
                                            "label": "Create a Body"
                                        },
                                        "smartEncoded": {
                                            "mode": "chose"
                                        },
                                        "applicationSid": {
                                            "mode": "chose"
                                        },
                                        "provideFeedback": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twilio"
                                            },
                                            "label": "Quan-Esskultur Twilio"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twilio",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromType",
                                        "type": "select",
                                        "label": "Send a message from",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "phone",
                                                "service",
                                                "channel"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "messageBody",
                                        "type": "select",
                                        "label": "Message Body",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "body",
                                                "template"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "mediaUrl",
                                        "spec": {
                                            "name": "value",
                                            "type": "url"
                                        },
                                        "type": "array",
                                        "label": "Media URL"
                                    },
                                    {
                                        "name": "smartEncoded",
                                        "type": "boolean",
                                        "label": "Smart encoded"
                                    },
                                    {
                                        "name": "validityPeriod",
                                        "type": "uinteger",
                                        "label": "Validity period"
                                    },
                                    {
                                        "name": "statusCallback",
                                        "type": "url",
                                        "label": "Status callback"
                                    },
                                    {
                                        "name": "applicationSid",
                                        "type": "select",
                                        "label": "Application"
                                    },
                                    {
                                        "name": "maxPrice",
                                        "type": "number",
                                        "label": "Max price"
                                    },
                                    {
                                        "name": "provideFeedback",
                                        "type": "boolean",
                                        "label": "Provide feedback"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Phone number",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "text",
                                        "label": "Body",
                                        "required": true,
                                        "validate": {
                                            "max": 1600
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 73,
                            "module": "datastore:DeleteAllRecords",
                            "version": 1,
                            "parameters": {
                                "datastore": 100231,
                                "hardDelete": false
                            },
                            "mapper": {},
                            "metadata": {
                                "designer": {
                                    "x": -1258,
                                    "y": 385
                                },
                                "restore": {
                                    "parameters": {
                                        "datastore": {
                                            "label": "Founder OTP"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    },
                                    {
                                        "name": "hardDelete",
                                        "type": "boolean",
                                        "label": "Always delete permanently",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 69,
                            "module": "twilio:SendSMS",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5599996
                            },
                            "filter": {
                                "name": "Incorrect OTP",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.Body}}",
                                            "b": "{{16.otp_code}}",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "{{1.From}}",
                                "body": "Der eingegebene Code ist ungültig, wurde schon benutzt oder ist abgelaufen. Bitte geben Sie den Code erneut ein oder fragen Sie unser Team vor Ort",
                                "from": "whatsapp:+14155238886",
                                "fromType": "phone",
                                "messageBody": "body"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -1840,
                                    "y": -74
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "mode": "edit"
                                        },
                                        "fromType": {
                                            "mode": "chose",
                                            "label": "phone number"
                                        },
                                        "mediaUrl": {
                                            "mode": "chose"
                                        },
                                        "messageBody": {
                                            "mode": "chose",
                                            "label": "Create a Body"
                                        },
                                        "smartEncoded": {
                                            "mode": "chose"
                                        },
                                        "applicationSid": {
                                            "mode": "chose"
                                        },
                                        "provideFeedback": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twilio"
                                            },
                                            "label": "Quan-Esskultur Twilio"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twilio",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromType",
                                        "type": "select",
                                        "label": "Send a message from",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "phone",
                                                "service",
                                                "channel"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "messageBody",
                                        "type": "select",
                                        "label": "Message Body",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "body",
                                                "template"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "mediaUrl",
                                        "spec": {
                                            "name": "value",
                                            "type": "url"
                                        },
                                        "type": "array",
                                        "label": "Media URL"
                                    },
                                    {
                                        "name": "smartEncoded",
                                        "type": "boolean",
                                        "label": "Smart encoded"
                                    },
                                    {
                                        "name": "validityPeriod",
                                        "type": "uinteger",
                                        "label": "Validity period"
                                    },
                                    {
                                        "name": "statusCallback",
                                        "type": "url",
                                        "label": "Status callback"
                                    },
                                    {
                                        "name": "applicationSid",
                                        "type": "select",
                                        "label": "Application"
                                    },
                                    {
                                        "name": "maxPrice",
                                        "type": "number",
                                        "label": "Max price"
                                    },
                                    {
                                        "name": "provideFeedback",
                                        "type": "boolean",
                                        "label": "Provide feedback"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Phone number",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "text",
                                        "label": "Body",
                                        "required": true,
                                        "validate": {
                                            "max": 1600
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 10,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}