docs/legacies/make.com legacies/Update Stage from Board.blueprint.json
{
    "name": "Update Stage from Board",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2652866,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -1398,
                    "y": -90
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "BOARD UPDATE STAGE"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "datastore:SearchRecord",
            "version": 1,
            "parameters": {
                "limit": null,
                "datastore": 102092,
                "continueWhenNoRes": false
            },
            "filter": {
                "name": "Spam Filter",
                "conditions": [
                    [
                        {
                            "a": "{{1.worker_secret}}",
                            "b": "my-super-secret",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "sort": [],
                "filter": [
                    [
                        {
                            "a": "booking_id",
                            "o": "exist"
                        }
                    ]
                ],
                "mappAbleLimit": ""
            },
            "metadata": {
                "designer": {
                    "x": -1350,
                    "y": 270
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Reservation datastore"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ],
                "expect": [
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://datastore/1.15.1/RpcGetUDTKeys",
                        "required": true
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "key",
                                "type": "select",
                                "label": "Key",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "order",
                                "type": "select",
                                "label": "Order",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": 1
                                    },
                                    {
                                        "label": "Descending",
                                        "value": -1
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "mappAbleLimit",
                        "type": "uinteger",
                        "label": "Mappable Limit"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "help": "",
                                "name": "booking_id",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "chat_id",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "message_id",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "contact_name",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "phone",
                                "type": "number",
                                "label": null,
                                "default": null,
                                "required": false
                            },
                            {
                                "help": "",
                                "name": "pax",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "x_studio_booking_datetime",
                                "type": "date",
                                "label": null,
                                "required": false
                            },
                            {
                                "help": "",
                                "name": "date",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "start_at",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "duration",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "staff",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "area",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "flag",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "submitted_at",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "created_by",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "updated_at",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "stage_id",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "stage",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "updated_by",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "source",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "datastore:UpdateRecord",
            "version": 1,
            "parameters": {
                "datastore": 102092
            },
            "filter": {
                "name": "booking filter",
                "conditions": [
                    [
                        {
                            "a": "{{1.booking_id}}",
                            "b": "{{9.data.booking_id}}",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "key": "{{9.key}}",
                "data": {
                    "pax": "",
                    "area": "",
                    "date": "",
                    "flag": "",
                    "phone": "",
                    "staff": "",
                    "stage": "{{1.stage}}",
                    "source": "",
                    "chat_id": "",
                    "duration": "",
                    "stage_id": "",
                    "start_at": "",
                    "booking_id": "",
                    "created_by": "",
                    "message_id": "",
                    "updated_at": "{{9.data.updated_at}}",
                    "updated_by": "{{1.updated_by}}",
                    "contact_name": "",
                    "submitted_at": "",
                    "x_studio_booking_datetime": ""
                },
                "upsert": false,
                "overwriteArrays": true
            },
            "metadata": {
                "designer": {
                    "x": -1033,
                    "y": 227
                },
                "restore": {
                    "expect": {
                        "upsert": {
                            "mode": "chose"
                        },
                        "overwriteArrays": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "datastore": {
                            "label": "Reservation datastore"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "upsert",
                        "type": "boolean",
                        "label": "Insert missing record",
                        "required": true
                    },
                    {
                        "name": "overwriteArrays",
                        "type": "boolean",
                        "label": "Overwrite an existing array in the record",
                        "required": true
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "booking_id",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "chat_id",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "message_id",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "contact_name",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "phone",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "pax",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "x_studio_booking_datetime",
                                "type": "date",
                                "label": null
                            },
                            {
                                "name": "date",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "start_at",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "duration",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "staff",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "area",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "flag",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "submitted_at",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "created_by",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "updated_at",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "stage_id",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "stage",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "updated_by",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "source",
                                "type": "text",
                                "label": null
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 102092
            },
            "mapper": {
                "key": "{{7.key}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": -1029,
                    "y": -133
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Reservation datastore"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "booking_id",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "chat_id",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "message_id",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "contact_name",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "phone",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "pax",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "x_studio_booking_datetime",
                        "type": "date",
                        "label": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "date",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "start_at",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "duration",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "staff",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "area",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "flag",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "submitted_at",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "created_by",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "updated_at",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "stage_id",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "stage",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "updated_by",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "source",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -663,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "telegram:EditMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5791499
                            },
                            "mapper": {
                                "edit": "message",
                                "text": "🍽 Booking #{{9.data.booking_id}}\n{{9.data.contact_name}} • {{9.data.pax}}pax\n🕒 {{9.data.submitted_at}} - {{9.data.start_at}} - {{9.data.duration}}min\n📍 {{9.data.area}}\n\n🟣 Status: ARRIVED",
                                "chatId": "{{9.data.chat_id}}",
                                "messageId": "{{9.data.message_id}}",
                                "parseMode": "",
                                "replyMarkup": "{\n \"inline_keyboard\":[\n  [\n   {\"text\":\"Done\",\"callback_data\":\"stage|{{9.data.booking_id}}|done\"}\n  ]\n ]\n}",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -572,
                                    "y": -285
                                },
                                "restore": {
                                    "expect": {
                                        "edit": {
                                            "label": "Chat Message"
                                        },
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "Back from Telegram"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "edit",
                                        "type": "select",
                                        "label": "Edit",
                                        "validate": {
                                            "enum": [
                                                "message",
                                                "inline"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "messageId",
                                        "type": "number",
                                        "label": "Message ID",
                                        "required": true
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "tlsType": "",
                                "proxyKeychain": "",
                                "authenticationType": "noAuth"
                            },
                            "mapper": {
                                "url": "https://quan-esskultur.divine-shape-9f0a.workers.dev/api/board-sync",
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "CF-Access-Client-Id",
                                        "value": "886e4bc8155e30f24c7414af7ccf1966.access"
                                    },
                                    {
                                        "name": "CF-Access-Client-Secret",
                                        "value": "8298d543d3f652217274895be93162c6c596c21944ddc4393729aae75900fdea"
                                    }
                                ],
                                "contentType": "json",
                                "inputMethod": "dataStructure",
                                "shareCookies": true,
                                "parseResponse": true,
                                "allowRedirects": true,
                                "stopOnHttpError": true,
                                "bodyDataStructure": 330074,
                                "dataStructureBodyContent": {
                                    "pax": "{{14.pax}}",
                                    "area": "{{14.area}}",
                                    "date": "{{14.date}}",
                                    "flag": "{{14.flag}}",
                                    "phone": "{{14.phone}}",
                                    "staff": "{{14.staff}}",
                                    "stage": "{{9.data.stage}}",
                                    "source": "{{14.source}}",
                                    "duration": "{{14.duration}}",
                                    "start_at": "{{14.start_at}}",
                                    "booking_id": "{{14.booking_id}}",
                                    "updated_at": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"Europe/Berlin\")}}",
                                    "updated_by": "{{14.updated_by}}",
                                    "contact_name": "{{14.contact_name}}"
                                },
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": -313,
                                    "y": 253
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "contentType": {
                                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                                        },
                                        "inputMethod": {
                                            "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "parseResponse": {
                                            "mode": "chose"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        },
                                        "queryParameters": {
                                            "mode": "chose"
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "bodyDataStructure": {
                                            "label": "Reservation Store"
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "proxyKeychain": {
                                            "label": "Choose a key"
                                        },
                                        "authenticationType": {
                                            "label": "No authenticationUse when no credentials are required for the request."
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "queryParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Parameter"
                                        },
                                        "type": "array",
                                        "label": "Query parameters"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "inputMethod",
                                        "type": "select",
                                        "label": "Body input method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "dataStructure",
                                                "jsonString"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "bodyDataStructure",
                                        "type": "udt",
                                        "label": "Body structure",
                                        "required": true
                                    },
                                    {
                                        "name": "dataStructureBodyContent",
                                        "spec": [
                                            {
                                                "name": "booking_id",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "chat_id",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "message_id",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "contact_name",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "phone",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "pax",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "x_studio_booking_datetime",
                                                "type": "date",
                                                "label": null
                                            },
                                            {
                                                "name": "date",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "start_at",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "duration",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "staff",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "area",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "flag",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "submitted_at",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "created_by",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "updated_at",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "stage_id",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "stage",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "updated_by",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "source",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Body content"
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "type": "any",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "statusCode",
                                        "type": "number",
                                        "label": "Status Code"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "type": "text",
                                                "label": "Content-Length"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "type": "text",
                                                "label": "Content-Encoding"
                                            },
                                            {
                                                "name": "content-type",
                                                "type": "text",
                                                "label": "Content-Type"
                                            },
                                            {
                                                "name": "server",
                                                "type": "text",
                                                "label": "Server"
                                            },
                                            {
                                                "name": "cache-control",
                                                "type": "text",
                                                "label": "Cache-Control"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array",
                                                "label": "Set-Cookie"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Headers"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "odoo:makeApiCall",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5613607
                            },
                            "mapper": {
                                "action": "write",
                                "entity": "crm.lead",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "text/xml; charset=utf-8"
                                    }
                                ],
                                "parameters": "[\n  [{{14.booking_id}}],\n  {\n    \"name\": \"Reservation\",\n    \"team_id\": 5,\n    \"stage_id\": {{14.stage_id}},\n    \"x_studio_source\": \"{{14.source}}\",\n    \"x_studio_updated_at\": \"{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"Europe/Berlin\")}}\"\n  }\n]"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -735,
                                    "y": 310
                                },
                                "restore": {
                                    "expect": {
                                        "action": {
                                            "mode": "chose",
                                            "label": "Update Records"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "odoo"
                                            },
                                            "label": "My Odoo connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:odoo",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "entity",
                                        "type": "text",
                                        "label": "Entity",
                                        "required": true
                                    },
                                    {
                                        "name": "action",
                                        "type": "select",
                                        "label": "Action",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "search",
                                                "search_count",
                                                "read",
                                                "fields_get",
                                                "search_read",
                                                "create",
                                                "write",
                                                "unlink"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parameters",
                                        "type": "text",
                                        "label": "Parameters"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 10,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": true,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}